body {
	text-align: center;
	padding: 0;
	margin: 0;
	color: #555;
}

.spreadsheet {
	width: 60%; 
	height: 600px;
	float: right;
}

.left {
	float: left;
	width: 330px;
	margin-left: 30px;
}

.youtube, .drive {
	padding: 10px;
	border-radius: 7px;
	border: 1px #ddd solid;
}

header {
	color: #777;
	font-size: 18px;
	letter-spacing: 3px;
 	font-weight: 300;
 	width: 100%;
 	height: 40px;
 	background: #eee;
 	padding: 0;
}
header div {
	padding-top: 7px;
}

p {
	color: grey;
}

ul {
	list-style-type: none;
}

img {
	height: auto; 
    width: auto; 
    max-width: 30px; 
    max-height: 30px;
    margin-top: 20px; 
    padding: 10px 15px 10px 15px;
    border: 1px solid #555;
    border-radius: 8px;
}
.pic {
    /*padding: 25px 15px 15px 15px;*/

}
button {

}
/*.clear-icon {
	background: url('img/clear.png') no-repeat;
	background-size: 30px 30px;
	width: 50px; 
    height: 50px;

    padding: 0px 15px 20px 15px;
    border: 1px solid #555;
    border-radius: 8px;

}
*/
.youtube img, .drive img {
	/*position: absolute;*/
	float: left;
	top: 5px;
	left: 5px;
	border: 0;
	margin-right: -20px;

}
.drive img {
	padding-top: 50px;
	padding-bottom: 40px;
}
.my-button {
  	-webkit-border-radius: 10px;
  	-moz-border-radius: 10px;
  	border-radius: 8px;
  	font-weight: 300;
  	width: 150px;
 	color: #333;
 	background: #fff;
 	font-size: 18px;
 	text-decoration: none;
 	outline: none;
 	border: 1px solid #555;			
 	transition: all .3s ease-in-out; 
 	padding: 5px 10px 5px 10px;
 	cursor: pointer;
}

.my-button:hover, img:hover {
 	border-radius: 2px;
 	color: #0831EA;
 	transition: all .3s ease-in-out; 
}
.username {
	position: absolute;
	right: 140px;
	top: 11px;
	color: #555;
}
.logout {
	position: absolute;
	right: 40px;
	top: 7px;
	width: auto !important;
	background: #eee !important;
	color: #777 !important;
	border: 1px solid #999 !important;	
	padding: 0px 8px 2px 8px !important;
}
